/* -------------------- *\
    GENERAL STYLES
\* -------------------- */

body {
  font-family: 'Open Sans', sans-serif;
}

#signup-button, #ad-next-session-button, #pre-registration-submit-btn{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1rem;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;
}
#homepage-hero h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 2em;  
    padding-bottom: 0.5em;  
    font-size: 35px;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;
    text-align: center;
  }
#email{
  font-size: 1.6rem;
  margin: 0 0 2rem 0;
  padding: 1rem;
  height: 3.2rem;
}
#pre-registration-confirmation{
  display: none;
}

/* -------------------- *\
    RESPONSIVE STYLES
\* -------------------- */

#ad-next-session{
  padding-top: 3em;
  padding-bottom: 1em;
  background: #0971B2;  
}

#signup {
  padding-top: 3em;
  padding-bottom: 1em;
  background: #457999;    
}

#hero-header h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 45px;
  text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;
}
#hero-header a{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;
}
#hero-header p {  
  color: #F8F8F8;
}
#event-description{
  padding-top: 3em;
  padding-bottom: 3em;
  background: #f7f7f7;
}
#event-description h1{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 35px;
  text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;  
}
.centered-text{
  text-align: center;
}
.header-image{
  width: 100%;
}


#scanning-header {
  padding-top: 20em;
  padding-bottom: 20em;
  background: url(/img/3d-sense.jpg);
  

}
#social {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #333333; 
}
#social i {
  font-size: 60px;
  color: white;
}

@media only screen and (max-width: 320px) {
  #hero-header {
    text-align: center;
  }
  #hero-header h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 35px;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;
  }
  #hero-header a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;
  }
  #container-action-signup-button{
    text-align: center;
  }
}
@media screen
    and (max-device-width: 601px)
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio: 1.331)
    and (-webkit-max-device-pixel-ratio: 1.332){
  
  #homepage-hero {
    background: url(/img/medium_handsonio_logo_brick_wall_bw.jpg)
  }
  
  #hero-header {
    text-align: center;
  }
  #hero-header h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 35px;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;
  }
  #hero-header a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 0px;

  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #homepage-hero {
      background: url(/img/small_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
  }
  #container-action-signup-button{
    text-align: center;
  }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  #homepage-hero {
      background: yellow; /*url(/img/small_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
  }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  #homepage-hero {
    padding-top: 65px;
    height: 720px;
    background-color: blue; /*url(/img/medium_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  #container-action-signup-button{
    text-align: center;
  }
  #email{
    font-size: 1.3rem;
    margin: 0 0 2rem 0;
    padding: 1rem;
    height: 3.2rem;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #homepage-hero {
      background: url(/img/medium_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; 
      
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 

  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  #homepage-hero {
      background: url(/img/medium_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  #homepage-hero {
      background: url(/img/medium_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  #homepage-hero {
    padding-top: 90px;
    height: 828px;
    background: url(/img/large_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  #lp-arrow-container{
    
    position: absolute;
    height: 30px;
    top: 750px;
    width: 100%;
  }

}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  #homepage-hero {
    padding-top: 100px;
    height: 850px;
    background: url(/img/large_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  #lp-arrow-container{
    display: none;
    position: absolute;
    height: 30px;
    top: 710px;
    width: 100%;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  #homepage-hero {
      background: url(/img/medium_handsonio_logo_brick_wall_bw.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 

  }
}


