<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="{{ site.url }}/css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Exo:800italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <script src="{{ site.url }}/js/vendor/custom.modernizr.js"></script>
  {% include analytics.html %}
</head>
<html>